<!DOCTYPE html>
<html>
  <head>
    <title>Operative</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
  </head>
  <body ng-app="Operative">
    <div class="container-fluid" ng-controller="MainCtrl">
      <!-- see mockup: http://cl.ly/image/3N3y1g0q3d2h --> 
      <div class="col-md-2">
        <!-- conference info and current time -->
        <h1>{{confName}}</h1>
        <h2>{{committeeName}}</h2>
        <h2>{{time | date:'h:mm:ss a'}}</h2>
      </div>
      <div class="col-md-8">
        <!-- speakers' list and editor -->
        <h1>Speakers</h1>
        <form ng-submit="addCountry()" typeahead="country as country.name for country in countries | filter:{name:$viewValue}">
          <input type="text" ng-model="newCountry" placeholder="Type country name"><input type="submit" value="Add Speaker">
        </form>
        <ul>
          <li ng-repeat="speaker in speakers">
            <img ng-src="{{speaker.img}}">
            {{speaker.name}}
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <!-- timer and comments -->
        <h1>Current</h1>
        <h2>{{speakers[0].name}}</h2>
        <h2>{{timer | timer}}</h2>
        <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{getProgress()}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : (getProgress() + '%') }">
          <span class="sr-only">{{getProgress()}}% Complete</span>
        </div>
        </div>
        <button ng-click="toggleTimer()">{{status}} Timer</button>
        <button ng-click="resetTimer()">Reset Timer</button>
      </div>
    </div>
    <script src="js/lib/jquery-1.11.3.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular-1.4.3.js"></script>
    <script src="js/lib/angular-ui-bootstrap.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

